<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.roko.testapp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="ROKOMobiAPIToken"
            android:value="wPAs8RsBnxsWrs2zx6iZ+MAjgkucuxAAQF0b8efDqAc=" />

        <activity android:name=".PushProcessor">
            <intent-filter>
                <action android:name="com.rokomobi.PUSH_ACTIVITY_TEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.rokolabs.sdk.push.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:permission="com.google.android.c2dm.permission.SEND">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="mobi.roko.testapp" />
            </intent-filter>
            <intent-filter android:permission="com.google.android.c2dm.permission.SEND">
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="mobi.roko.testapp" />
            </intent-filter>
        </receiver>

        <service android:name="com.rokolabs.sdk.push.GCMIntentService" />

        <activity
            android:name=".DeepLinksActivity"
            android:label="Deep Links">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testapp.rkm.io"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".EcommerceActivity" />
        <activity android:name=".ReferralActivity" />
        <activity android:name=".LoginActivity"></activity>
    </application>

</manifest>